*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Compiled files
target/

# Include only settings and migration files for Flyway
db/migrate/*
!db/migrate/conf/
!db/migrate/sql/

# Idea settings
.idea/
*.iml
